<p>Name: <%= @product.name %></p>
<p>Description <%= @product.description %></p>
<p>Price <%= @product.price %></p>

<%= simple_form_for @cart do |f| %>
  <%= hidden_field_tag 'product_id', @product.id %>
  <%= f.submit 'Add items' %>
<% end %>
