<p>Name: <%= @product.name %></p>
<p>Description <%= @product.description %></p>
<p>Price <%= @product.price %></p>

<%= simple_form_for @product, url: carts_path, html: { class: 'form-horizontal' } do |f| %>
 <%= number_field_tag :quantity, 1, min: 1 %>
 <%= hidden_field_tag :product_id, @product.id %>
 <%= f.submit 'Add to cart', class: 'btn btn-primary' %>
<% end %>
